<footer>
<div class="div-footer">

<div class="section-footer">
    <h2>A Saber...</h2>
    <div class="socialMedia">
    <ul class="contactos-footer">
        <li><a href="/TerminosyCondiciones"></i>Términos y Condiciones </a></li>
        <li><a href="#">Acerca de Nosotros</a></li>
    </ul>
    </div>
</div>

<div class="section-footer">
    <h2>Contacto</h2>
    <div class="socialMedia">  
    <ul class="contactos-footer">
        <li><a href='mailto:contact@sololomejor.com?subject="Hi There!"'><i class="flaticon-email" ></i> &nbsp contact@sololomejor.com</a></li>
        <li><a href="tel:+541136734213">  <i class="flaticon-telephone-handle-silhouette"></i>&nbsp +541136734213</li></a>   
   
    </ul>
    </div>
</div>

<div class="section-footer">
    <h2>Redes Sociales</h2>
    <div class="socialMedia">
    <ul>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="flaticon-facebook"></i> &nbsp Facebook</a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="flaticon-instagram"></i>&nbsp Instagram</a></li>
    </ul>
    <ul>
        <li><a href="https://twitter.com/" target="_blank"><i class="flaticon-twitter"></i>&nbsp Twitter</a></li>
        <li><a href="https://web.telegram.org" target="_blank"><i class="flaticon-telegram"></i>&nbsp Telegram</a></li>
    </ul>
    </div>
</div>
</div>
</footer>