<div class="todo-header" >
    <div class="izq-header">
      <a href="/">
      <img src="/img/Logo-prueba2.png" alt="Logo de MI NOMBRE" width="50%" />
      </a>
    </div>
      
    <div class="cuotas">  
      <ul class="der-header">
        <li><a href="/users/register">Creá tu cuenta  </a><i class="fa-solid fa-id-card"></i>
        </li>
        <li><a href="/users/login">Ingresá </a> <i class="fa-solid fa-right-to-bracket"></i>
        </li>
        <li><a href="/products/productCart">Mis compras </a> <i class="fa-solid fa-basket-shopping"></i>
        </li>
        <li><a href="/users/editProduct">Vender </a> <i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>
    </div>
    </div>
  <!------ NAVBAR -------->
    <nav class="toda-navbar">
      <ul class="izq-navbar">
        <li>
          <a href="products/productDetail">TV, Audio y Video</a></li>
        <li>
          <a href="products/productDetail">Electrodomesticos</a></li>
        <li>
          <a href="products/productDetail">Computacion</a></li>
        <li>
          <a href="products/productDetail">Celulares</a>
        </li>
      </ul>
      <div class="der-navbar">
      
      <div class="busqueda">
      <input type="text" placeholder="Buscar productos, marcas..">
      </div>
      <div class="lupa">
      <i class="fas fa-search"></i>
      </div>
      </div>
    </nav>
  <!----- Icono Menu ----->
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>