<header>

<div class="todo-header" >
    <div class="izq-header">
      <a href="/"> <img src="/img/Logo-prueba2.png" alt="Logo de MI NOMBRE" width="50%" /> </a>
      </a>
    </div>
      
    <div class="der-header">  
      <ul class="der-header-list">
        <li><a href="/users/register">Creá tu cuenta  </a><i class="fa-solid fa-id-card"></i></li>
        
        <li><a href="/users/login">Ingresá </a> <i class="fa-solid fa-right-to-bracket"></i></li>
        
        <li><a href="/products/productCart">Mis compras </a> <i class="fa-solid fa-basket-shopping"></i></li>
        
        <li><a href="/products/createProduct">Vender </a> <i class="fa-solid fa-basket-shopping"></i></li>
        
      </ul>
    </div>
    </div>
  <!------ NAVBAR -------->
    <nav class="toda-navbar">
      <ul class="izq-navbar">
        <li>
          <a href="/products/productDetail">TV, Audio y Video</a></li>
        <li>
          <a href="/products/productDetail">Electrodomesticos</a></li>
        <li>
          <a href="/products/productDetail">Computacion</a></li>
        <li>
          <a href="/products/productDetail">Celulares</a>
        </li>
      </ul>
      <div class="der-navbar">
      
      
        <form class ="busqueda" action="products/search" method="GET">
      <input class="lupaSubmit" type="text" name="search"  placeholder="Buscar productos, marcas..">
      <input class="lupaSubmitlupa" type="submit" value="Search">
      </form>
      
      <!-- Por ahora no se como hacer que esta lupa actue como boton -->
      <!-- <div class="lupa">
      <i class="fas fa-search"></i> -->
      </div>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
        <span>CATEGORÍAS</span>
      </div>
    </nav>
  <!----- Icono Menu ----->
  </header>
<script>document.querySelector('.burger-menu').addEventListener('click',() =>{
  document.querySelector('.izq-navbar').classList.toggle('show')
  document.querySelector('.burger-menu').classList.toggle('mobile')
})</script>