<header>
<div class="todo-header">
    
    <a href="/"> <img src="/img/logo-alargado.png" alt="Logo de MI NOMBRE"/> </a>

    <div class = "iconos-header">
      <ul>
        <li><a href="/users/register">Registrate </a><i class="flaticon-user-1"></i>
        <a href="/users/login">Ingresá</a></li>
        
        <li><a href="/products/productCart">Mis compras</a> <i class="flaticon-shopping-cart-2"></i>
        <a href="/products/create">Vender</a></li>
      </ul>
    </div>
</div>
  <!------ NAVBAR -------->
    <nav class="toda-navbar">
      <ul class="izq-navbar">
        <li>
          <a href="/products/productDetail">TV, Audio y Video</a></li>
        <li>
          <a href="/products/productDetail">Electrodomesticos</a></li>
        <li>
          <a href="/products/productDetail">Computacion</a></li>
        <li>
          <a href="/products/productDetail">Celulares</a>
        </li>
      </ul>
      <div class="der-navbar">
        
      <form class ="busqueda" action="products/search" method="GET">
      <input type="text" name="search"  placeholder="Buscar productos, marcas..">
      <!-- <input class="flaticon-magnifying-glass" type="submit" value="Search"> -->
      <i class="flaticon-magnifying-glass" type="submit" value="Search"></i>
      </form>
      
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
        <span>CATEGORÍAS</span>
      </div>
    </nav>
  
  </header>
<script>
  document.querySelector('.burger-menu').addEventListener('click',() =>{
  document.querySelector('.izq-navbar').classList.toggle('show')
  document.querySelector('.burger-menu').classList.toggle('mobile')
})</script>