<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body class="body-404">
    <section>
      <a href="/">
        <img
          src="/img/404_page_not_found.png"
          alt="Error 404 - Page not found"
          width="85%"
          ,
        />
      </a>
    </section>
  </body>
</html>
