<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include("./partials/header") %>
    <h4>CARRITO DE COMPRAS</h4>

    <div class="cart-container"></div>

    <div class="shop-price"></div>

    <script src="/javascript/cartList.js"></script>
  </body>
</html>
