/*Como cliente quiero ver un resumen de la oferta de productos para poder
decidir rápidamente si quedarme o buscar el producto en otro sitio. ★ Como
cliente quiero que el sitio funcione bien en mi teléfono celular para poder
acceder en cualquier momento.*/

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
    <script
      src="https://kit.fontawesome.com/0442526d0c.js"
      crossorigin="anonymous"
    ></script>
    <title>Index</title>
  </head>
  <body>
    <header>
      <div class="logo-header">
        <img src="/img/Logo-prueba.png"
        width="25%"
        alt="Logo de MI NOMBRE"/>
      <div>
        <input autocomplete="off" 
              placeholder="Buscá productos..." 
              type="text" 
              value="">
      </div>      
      <nav>
        <ul class="ul-header">
          <li>
            <a href="/register">Registrate</a>
            <i class="fa-solid fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="/productCart"
              >Mis compras
              <i class="fa-solid fa-basket-shopping"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    </header>

    <nav>
        <ul class="nav-bar">
        <li><a href="#Televisores">Televisores</a></li>
        <li><a href="#Calefaccion">Calefaccion</a></li>
        <li><a href="#Computacion">Computacion</a></li>
        <li><a href="#Telefonia">Telefonia</a></li>
    </ul>
      <img src="/img/img-home-banner.jpg" alt="OFERTAS" width="100%" />
    </nav>

    <main>
        <section>
        <h3>OFERTAS</h3>
        <div class="prod-contenedor">
        <article>
        <div class="img-producto">
        <a href="*"></a>
        <img src="/img/img-tv-samsung-smart.jpg"
          width="160"
          alt="SmartTv Samsung"/>
        </div>
    </div>
        <div class="precio-descuento">
        <p class="precios">$23.200</p>
        <p class="descuentos">5% off</p>
        <h4 class="descripciones">SmartTv Samsung 43"</h4>
    </div>
    <div class="prod-contenedor">
        <img
        src="/img/img-tv-samsung-smart.jpg"
        width="160"
        alt="SmartTv Samsung"
       />
       <p>$43.200</p>
       <p>10% off</p>
       <h4>SmartTv Trucho"</h4>  
    </div>
        </section>

      <section>
        <h3>MAS VENDIDOS</h3>
        <article class="prod-contenedor">
        <img src="/img/img-cafetera-moulinex.jpg" width="160" alt="Cafetera" />
        <p>$6.770</p>
        <p>40% off</p>
        <h4>Cafetera Moulinex</h4>
        </article>
    </section>
      <section>
        <h3>NOVEDADES</h3>
        <article class="prod-contenedor">
        <img src="/img/img-cafetera-moulinex.jpg" width="160" alt="Cafetera" />
        <p>$6.770</p>
        <p>40% off</p>
        <h4>Cafetera Moulinex</h4>
        </article>
      </section>
    </main>

    <footer>
      "EMSA S.A. - Formulario 960/D - Data Fiscal - Terminos y condiciones -ETC"
    </footer>
  </body>
</html>
