<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Index</title>
  </head>

  <body>

<!------ HEADER ------>
<header>

  <%- include("./partials/header") %>

</header>

<main>
  <div class="img-banner">
    <img src="/img/E-COMMERCE (4).png" alt="OFERTAS" width="100%" height="35%"/>  
  </div>

<div class="div-ofertas">

    <h4>OFERTAS</h4>



<div class="div-articulos">
<div class="nuevo-articulo">
  <div>
    <a href="*"></a>  <img src="/img/img-tv-samsung-smart.jpg" width="160" alt="SmartTv Samsung"/>
  </div>
  <h3>SmartTv Samsung 43"</h3>
  <div class="div-precio"><p class="precio">$60.200</p>
    <p class="descuento">5% off</p>
  </div>
    <a href="/products/productDetail">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
  
</div>

<div class="nuevo-articulo">
  <div>
    <a href="*"></a>
  <img src="/img/img-cafetera-moulinex.jpg"
    width="160"
    alt="Cafetera"/>
  </div>
  <h3>Cafetera Moulinex</h3>
  <div class="div-precio"><p class="precio">$30.500</p>
    <p class="descuento">40% off</p>
  </div>
    <a href="/products/productDetail">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
  
  </div>

    <div class="nuevo-articulo">
      <div>
        <a href="*"></a>
      <img src="/img/Iphone-13-Pro.3.jpg"
        width="160"
        alt="Iphone 13 Pro"/>
      </div>
      <h3>Iphone 13 Pro</h3>
      <div class="div-precio"><p class="precio">$230.500</p>
      </div>
        <a href="/products/productDetail">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
      
  
</div>
</div>
</div>

<div class="div-ofertas">

  <h4>MAS VENDIDOS</h4>            


  <div class="div-articulos">

<div class="nuevo-articulo">
<div>
  <a href="*"></a>
<img src="/img/img-cafetera-moulinex.jpg"
  width="160"
  alt="Cafetera"/>
</div>
<h3>Cafetera Moulinex</h3>
<div class="div-precio"><p class="precio">$30.500</p>
  <p class="descuento">40% off</p>
</div>
  <a href="/products/productDetail">Mas Detalles <i class="fas fa-angle-double-right"></i></a>

</div>

<div class="nuevo-articulo">
  <div>
    <a href="/products/productDetail"></a><img src="img\pava-atma.jpg" width="160" alt="Pava"/>
  </div>
  <h3>Pava Electrica ATMA</h3>
  <div class="div-precio"><p class="precio">$20.770</p>
    <p class="descuento">40% off</p>
  </div>
    <a href="/products/productDetail">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
  
  </div>

<div class="nuevo-articulo">
<div>
  <a href="*"></a>
<img src="/img/horno-electrico-.jpg"
  width="160"
  alt=" Horno Electrico Ultracomb"/>
</div>
<h3>Horno Electrico</h3>
<div class="div-precio"><p class="precio">$34.200</p>
  <p class="descuento">10% off</p>
</div>
  <a href="/products/productDetail">Mas Detalles <i class="fas fa-angle-double-right"></i></a>

</div>
</div>
</div>
</div>
    </main>

    <footer>
      
      <%- include("./partials/footer") %>

    </footer>
  </body>
</html>



