
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
    <title>Index</title>
  </head>

  <body>

<!------ HEADER -------->
<header>
  <div class="todo-header" >
  <div class="izq-header">
    <a href="/">
    <img src="/img/Logo-prueba2.png" alt="Logo de MI NOMBRE" width="50%" />
    </a>
  </div>
    
  <div class="cuotas">  
    <ul class="der-header">
      <li><a href="/register">Creá tu cuenta  </a><i class="fa-solid fa-id-card"></i>
      </li>
      <li><a href="/login">Ingresá </a> <i class="fa-solid fa-right-to-bracket"></i>
      </li>
      <li><a href="/productCart">Mis compras </a> <i class="fa-solid fa-basket-shopping"></i>
      </li>
    </ul>
  </div>
  </div>
<!------ NAVBAR -------->
  <nav class="toda-navbar">
    <ul class="izq-navbar">
      <li>
        <a href="#TV, Audio y Video">TV, Audio y Video</a></li>
      <li>
        <a href="Electrodomesticos">Electrodomesticos</a></li>
      <li>
        <a href="#Computacion">Computacion</a></li>
      <li>
        <a href="Celulares">Celulares</a>
      </li>
    </ul>
    <div class="der-navbar">
    
    <div class="busqueda">
    <input type="text" placeholder="Buscar productos, marcas..">
    </div>
    <div class="lupa">
    <i class="fas fa-search"></i>
    </div>
    </div>
  </nav>
<!----- Icono Menu ----->
  <div class="burger-menu">
    <i class="fas fa-bars"></i>
  </div>
</header>

<main>
  <div class="img-banner">
    <img src="/img/E-COMMERCE (4).png" alt="OFERTAS" width="100%" height="35%"/>  
  </div>

<div class="div-ofertas">

    <h4>OFERTAS</h4>            


    <div class="div-articulos">

<div class="nuevo-articulo">
  <div>
    <a href="*"></a>
  <img src="/img/img-tv-samsung-smart.jpg"
    width="160"
    alt="SmartTv Samsung"/>
  </div>
  <h3>SmartTv Samsung 43"</h3>
  <div class="div-precio"><p class="precio">$60.200</p>
    <p class="descuento">5% off</p>
  </div>
    <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
  
</div>


<div class="nuevo-articulo">
  <div>
    <a href="*"></a>
  <img src="/img/horno-electrico-.jpg"
    width="160"
    alt=" Horno Electrico Ultracomb"/>
  </div>
  <h3>Horno Electrico</h3>
  <div class="div-precio"><p class="precio">$34.200</p>
    <p class="descuento">10% off</p>
  </div>
    <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
  
</div>
</div>
</div>

<div class="img-banner">
  <img src="/img/E-COMMERCE (4).png" alt="OFERTAS" width="100%" height="35%"/>  
</div>

<div class="div-ofertas">

  <h4>MAS VENDIDOS</h4>            


  <div class="div-articulos">

<div class="nuevo-articulo">
<div>
  <a href="*"></a>
<img src="/img/img-cafetera-moulinex.jpg"
  width="160"
  alt="Cafetera"/>
</div>
<h3>Cafetera Moulinex</h3>
<div class="div-precio"><p class="precio">$30.500</p>
  <p class="descuento">40% off</p>
</div>
  <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>

</div>


<div class="nuevo-articulo">
<div>
  <a href="*"></a>
<img src="/img/horno-electrico-.jpg"
  width="160"
  alt=" Horno Electrico Ultracomb"/>
</div>
<h3>Horno Electrico</h3>
<div class="div-precio"><p class="precio">$34.200</p>
  <p class="descuento">10% off</p>
</div>
  <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>

</div>
</div>
</div>





<div class="div-ofertas">

  <h4>NOVEDADES</h4>            


  <div class="div-articulos">

<div class="nuevo-articulo">
<div>
  <a href="*"></a>
<img src="img\pava-atma.jpg"
  width="160"
  alt="Pava"/>
</div>
<h3>Pava Electrica ATMA</h3>
<div class="div-precio"><p class="precio">$20.770</p>
  <p class="descuento">40% off</p>
</div>
  <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>

</div>


<div class="nuevo-articulo">
<div>
  <a href="*"></a>
<img src="/img/horno-electrico-.jpg"
  width="160"
  alt=" Horno Electrico Ultracomb"/>
</div>
<h3>Horno Electrico</h3>
<div class="div-precio"><p class="precio">$34.200</p>
  <p class="descuento">10% off</p>
</div>
  <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>

</div>
</div>
</div>


    </main>

    <footer>
      "Solo Lo Mejor S.A. - Formulario 960/D - Data Fiscal - Terminos y condiciones -ETC"
    </footer>
  </body>
</html>



