
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
    <script
      src="https://kit.fontawesome.com/0442526d0c.js"
      crossorigin="anonymous"
    ></script>
    <title>Index</title>
  </head>

  <body>

    <header>
      
        <img src="/img/Logo-prueba2.png"
        width="8%"
        alt="Logo de MI NOMBRE"/>
      
        <input autocomplete="off" class="buscador"
              placeholder="Buscá productos..." 
              type="text" 
              id="buscador"
              value=""/>
            
     
      <div class="ul-header">
        <ul>
          <ol>
            <a href="/register">Registrate</a>
            <i class="fa-solid fa-id-card"></i>
          </ol>
          <ol>
            <a href="/login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </ol>
          <ol>
            <a href="/productCart"
              >Mis compras
              <i class="fa-solid fa-basket-shopping"></i>
            </a>
          </ol>
        </ul>
      </div>
      
    </header>

    <nav class="categorias">
        <ul class="nav-bar">
        <li><a href="#TV, Audio y Video">TV, Audio y Video</a></li>
        <li><a href="Electrodomesticos">Electrodomesticos</a></li>
        <li><a href="#Computacion">Computacion</a></li>
        <li><a href="Celulares">Celulares</a></li>
    </ul>
    </nav>

    <main>
    </div>
    </header>
      <section class="img-banner">
        <img src="/img/E-COMMERCE (1).png" alt="OFERTAS" width="100%" height="35%"/>  
      </section>
      
        <h3>OFERTAS</h3>
        <section>
        <article class="prod-contenedor">
        <div class="img-producto">
        <a href="*"></a>
        <img src="/img/img-tv-samsung-smart.jpg"
          width="160"
          alt="SmartTv Samsung"/>
        </div>
        <div class="prod-contenedor">
          <h4 class="descripciones">SmartTv Samsung 43"</h4>
        <p class="descuentos">5% off</p>
        <p class="precios">$60.200</p>
        </div>
        </article>
        <article class="prod-contenedor">
        <div class="img-producto">
          <a href="*"></a>
          <img src="/img/horno-electrico-.jpg"
            width="160"
            alt=" Horno Electrico Ultracomb"/>
          </div>
          <h4 class="descripciones">Horno Electrico</h4>
          <div class="precio-descuento">
          <p class="descuentos">10% off</p>
          <p class="precios">$34.200</p>
    </div>
        </article>
         </section>
        <h3>MAS VENDIDOS</h3>
      <section>
    <article class="prod-contenedor">
      <div class="img-producto">
        <a href="*"></a>
        <img src="/img/img-cafetera-moulinex.jpg"
          width="160"
          alt="Cafetera"/>
        </div>
        <h4 class="descripciones">Cafetera Moulinex</h4>
        <div class="precio-descuento">
        <p class="descuentos">40% off</p>
        <p class="precios">$30.500</p>
    </div>
    </section>

      <h3>NOVEDADES</h3>
      <section>
        <article class="prod-contenedor">
        <img src="img\pava-atma.jpg" 
          width="160" 
          alt="Pava" />
        <h4>Pava Electrica ATMA</h4>
        <p>40% off</p>
        <p>$20.770</p>
        </article>
      </section>

    </main>

    <footer>
      "EMSA S.A. - Formulario 960/D - Data Fiscal - Terminos y condiciones -ETC"
    </footer>
  </body>
</html>

/*Como cliente quiero ver un resumen de la oferta de productos para poder
decidir rápidamente si quedarme o buscar el producto en otro sitio. ★ Como
cliente quiero que el sitio funcione bien en mi teléfono celular para poder
acceder en cualquier momento.*/

