/*Como cliente quiero ver un resumen de la oferta de productos para poder
decidir rápidamente si quedarme o buscar el producto en otro sitio. ★ Como
cliente quiero que el sitio funcione bien en mi teléfono celular para poder
acceder en cualquier momento.*/

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0442526d0c.js"
      crossorigin="anonymous"
    ></script>
    <title>Index</title>
  </head>
  <body>
    <header>
      <img
        src="/img/logo-mercado-liebre.svg"
        width="25%"
        alt="Logo de MI NOMBRE"
      />
      <p><imput type="text"></imput></p>
      <nav>
        <ul>
          <ol>
            <a href="/register">Registrate</a>
            <i class="fa-solid fa-id-card"></i>
          </ol>
          <ol>
            <a href="/login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </ol>
          <ol>
            <a href="/productCart"
              >Mis compras
              <i class="fa-solid fa-basket-shopping"></i>
            </a>
          </ol>
        </ul>
      </nav>
    </header>

    <nav>
      <h3>ESTO ES UNA NAV BAR</h3>
      <img src="/img/img-home-banner.jpg" alt="OFERTAS" />
    </nav>

    <main>
        <section>
        <h3>OFERTAS</h3>
        <article class="prod-contenedor">
        <div class="img-producto"></div>
        <a href="*"></a>
        <img src="/img/img-tv-samsung-smart.jpg"
          width="160"
          alt="SmartTv Samsung"
        />
        </div>
        <p>$23.200</p>
        <p>5% off</p>
        <h4>SmartTv Samsung 43"</h4>
        
        <img
        src="/img/img-tv-samsung-smart.jpg"
        width="160"
        alt="SmartTv Samsung"
       />
       <p>$43.200</p>
       <p>10% off</p>
       <h4>SmartTv Trucho"</h4>  
    
        </section>

      <section>
        <h3>MAS VENDIDOS</h3>
        <img src="/img/img-cafetera-moulinex.jpg" width="160" alt="Cafetera" />
        <p>$6.770</p>
        <p>40% off</p>
        <h4>Cafetera Moulinex</h4>
      </section>
      <section>
        <h3>NOVEDADES</h3>
        <img src="/img/img-cafetera-moulinex.jpg" width="160" alt="Cafetera" />
        <p>$6.770</p>
        <p>40% off</p>
        <h4>Cafetera Moulinex</h4>
      </section>
    </main>

    <footer>
      "EMSA S.A. - Formulario 960/D - Data Fiscal - Terminos y condiciones -ETC"
    </footer>
  </body>
</html>
