<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>"LOGIN"</h1>
    <div>
    <form action="/register" method="post">
        <div>
        <label for="nombre">nombre:</label>
        <imput type="text" name="usuario"></imput>
        </div>
        <div>
        <label for="nombre">clave:</label>
        <imput type="password" name="clave"></imput>
        </div>
        <imput type="submit" value="Enviar"></imput>
        <imput type="reset" value="Borrar"></imput>
        </div>
    </form>    
    
</body>
</html>

//Como cliente quiero poder loguearme para acceder a mi historial de compras.
★ Como cliente quiero tener la opción de que el sitio me recuerde para no escribir mi
usuario y contraseña cada vez.
★ Como cliente quiero poder recuperar la contraseña para poder ingresar si me la
olvido.