<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>"LOGIN"</h1>
    <div class="login-box">
        <img src="img/logo-chico.png" class="avatar" alt="Avatar Image">
        <h1>Login Here</h1>
        <form>
          <!-- USERNAME INPUT -->
          <label for="username">Username</label>
          <input type="text" placeholder="Enter Username">
          <!-- PASSWORD INPUT -->
          <label for="password">Password</label>
          <input type="password" placeholder="Enter Password">
          <input type="submit" value="Log In">
          <a href="#">Lost your Password?</a><br>
          <a href="#">Don't have An account?</a>
        </div>
    </form>    
    
</body>
</html>

//Como cliente quiero poder loguearme para acceder a mi historial de compras.
★ Como cliente quiero tener la opción de que el sitio me recuerde para no escribir mi
usuario y contraseña cada vez.
★ Como cliente quiero poder recuperar la contraseña para poder ingresar si me la
olvido.