<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>
<body>
    <header>
      <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
      </div>
    
      <div class="container">
        <!-- Navigation -->
        <nav class="nav-main">
          <!-- Logo -->
          <a href="/">
          <img src="/img/Logo-prueba2.png" alt="Logo de MI NOMBRE"/>
          </a>
          <!-- Left Nav -->
          <ul class="nav-menu">
            <li>
              <a href="#TV, Audio y Video">TV, Audio y Video</a></li>
            <li>
              <a href="Electrodomesticos">Electrodomesticos</a></li>
            <li>
              <a href="#Computacion">Computacion</a></li>
            <li>
              <a href="Celulares">Celulares</a>
            </li>
            <li>
              <P> | | | | | | | </P>
            </li>
            <li>
              <a href="/register">Registrate</a>
              <i class="fa-solid fa-id-card"></i>
              </li>
            <li>
              <a href="/login">Ingresá</a>
              <i class="fa-solid fa-right-to-bracket"></i>
            </li>
            <li>
              <a href="/productCart">Mis compras</a>
              <i class="fa-solid fa-basket-shopping"></i>
  
            </li>
          </ul>
    
          <!-- Right Nav -->
          <ul class="nav-menu-right">
            <li>
              <a href="#">
                <i class="fas fa-search"></i>
              </a>
            </li>
          </ul>
        </nav>
        <hr>
      
      </header>

    <main class="main-carrito">
        
  
        <div class="contenedor-carrito">
            <h3>Mi Carrito</h3>
        
          <!-- NEWS CARDS -->
    <div class="contenedor-padre">
     <div class="news-cards">
      <div>
        <img src="img/news1.jpg" alt="" />
        <h3>Cafetera Moulinex</h3>
        <p class="price">$6.770</p>
          <p class="discount">40% off</p>
        <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="img/news2.jpg" alt="" />
        <h3>Cafetera Moulinex</h3>
        <p class="price">$6.770</p>
          <p class="discount">40% off</p>
        <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="img/news3.jpg" alt="" />
        <h3>Cafetera Moulinex</h3>
        <p class="price">$6.770</p>
          <p class="discount">40% off</p>
        <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div class="div-totales">
        <img src="/img/Logo-prueba2.png" width="4%" alt="Logo de MI NOMBRE" />
        <h3 class="h3-totales">TOTAL COMPRAS</h3>
        <div class="caja-totales">$</div>
        <form action="#" method="GET">
          <button class="botons" type="submit">Pagar</button>
        
          <button class="botons" type="submit" onclick="">Vaciar Carrito</button>
      
          <a href="/index">
          <button class="botons" type="submit">Comprar más</button>
          </a>
      </form>
      </div>
    </div>
      </main>
  
      <footer>
        "Solo Lo Mejor S.A. - Formulario 960/D - Data Fiscal - Terminos y condiciones - ETC"
      </footer>    
</body>
</html>

