<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>
<body>
<!------ HEADER -------->
  <header>
    <div class="todo-header" >
    <div class="izq-header">
      <a href="/">
        <img src="/img/Logo-prueba2.png" alt="Logo de MI NOMBRE" width="50%" />
        </a>
    </div>
      
    <div class="cuotas">  
      <ul class="der-header">
        <li><a href="/register">Creá tu cuenta  </a><i class="fa-solid fa-id-card"></i>
        </li>
        <li><a href="/login">Ingresá </a> <i class="fa-solid fa-right-to-bracket"></i>
        </li>
        <li><a href="#">Mis compras </a> <i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>
    </div>
    </div>
<!------ NAVBAR -------->
    <nav class="toda-navbar">
      <ul class="izq-navbar">
        <li>
          <a href="#TV, Audio y Video">TV, Audio y Video</a></li>
        <li>
          <a href="Electrodomesticos">Electrodomesticos</a></li>
        <li>
          <a href="#Computacion">Computacion</a></li>
        <li>
          <a href="Celulares">Celulares</a>
        </li>
      </ul>
      <div class="der-navbar">
      
      
      
    <div class="busqueda">
      <input type="text" placeholder="Buscar productos, marcas..">
      </div>
      <div class="lupa">
      <i class="fas fa-search"></i>
      </div>
      </div>
    </nav>
<!----- Icono Menu ----->
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>
    
  <main>
      <h4>CARRITO DE COMPRAS</h4>
     <div class="div-carrito">
            
     
            <!-- Articulos en Carrito -->
      <div class="div-articulos">
      
        <div class="nuevo-articulo">
       <img src="img/news1.jpg" alt="" />
        <h3>Cafetera Moulinex</h3>
        <div class="div-precio"><p class="precio">$6.770</p>
          <p class="descuento">40% off</p>
        </div>
          <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
      </div>
      
      <div class="nuevo-articulo">
        <img src="img/news2.jpg" alt="" />
        <h3>Cafetera Moulinex</h3>
        <div class="div-precio">
        <p class="precio">$6.770</p>
        <p class="descuento">40% off</p>
        </div>
        <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
        </div>
        
        <div class="nuevo-articulo">
        <img src="img/news3.jpg" alt="" />
        <h3>Cafetera Moulinex</h3>
        <div class="div-precio">
          <p class="precio">$6.770</p>
          <p class="descuento">40% off</p>
        </div>
          <a href="#">Mas Detalles <i class="fas fa-angle-double-right"></i></a>
      </div>
      </div>
      <div class="div-totales">
       <div class="div-logo">
        <img src="/img/Logo-prueba2.png" width="25%" alt="Logo de MI NOMBRE" />
       </div>
        <h3 class="h3-totales">TOTAL COMPRAS</h3>
       <div class="div-precioFinal"> $ 10.000,00

      </div>
      <div>  
      <form  action="#" method="GET">
        <div class="div-botones"><a href="/index"> 
        <button type="submit">PAGAR</button></a> 
        </div>
        <div><a href="/index">
        <button type="submit">Vaciar Carrito</button></a>
        </div>
        <div><a href="/productDetail">
        <button type="submit">Comprar más</button></a>
        </div>
      </form>
    </div>
    </div>
    </div>
      </main>
  
      <footer>
        "Solo Lo Mejor S.A. - Formulario 960/D - Data Fiscal - Terminos y condiciones - ETC"
      </footer>    
</body>
</html>

