<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>
<body>
    <header>
      
        <img src="/img/Logo-prueba2.png"
        width="8%"
        alt="Logo de MI NOMBRE"/>
      
        <input autocomplete="off" class="buscador"
              placeholder="Buscá productos..." 
              type="text" 
              id="buscador"
              value=""/>
            
     
      <div class="ul-header">
        <ul>
          <ol>
            <a href="/register">Registrate</a>
            <i class="fa-solid fa-id-card"></i>
          </ol>
          <ol>
            <a href="/login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </ol>
          <ol>
            <a href="/productCart"
              >Mis compras
              <i class="fa-solid fa-basket-shopping"></i>
            </a>
          </ol>
        </ul>
      </div>
      
    </header>

    <main class="main-carrito">
        
  
        <div class="contenedor-carrito">
            <h3>Mi Carrito</h3>
        
          
        <div class="productos-carrito">
          <article>
            <img src= "/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="barra"/>
            <div class="logo-envio barra" >
              <i class="fa-solid fa-truck"></i>
            </div>
              <div class="price-discount">
                <p class="price">$6.770</p>
                <p class="discount">40% off</p>
              </div>
              <h4 class="description">Cafetera Moulinex</h4>
          </article>
         
        <section class="total-carrito">
        <div class="totales">
            <div>
              <h3>TOTAL :  </h3>
            </div>
          </div>
  
          <form action="#" method="GET">
            <button class="botons" type="submit">Pagar</button>
          
      
          <button class="botons" type="submit" onclick="">Vaciar Carrito</button>
        
          <a href="/index">
            <button class="botons" type="submit">Comprar más</button>
          </a>

        </form>
        </section>
    </div>
  </div>
      </main>
  
      <footer>
        "Solo Lo Mejor S.A. - Formulario 960/D - Data Fiscal - Terminos y condiciones - ETC"
      </footer>



    
</body>
</html>

