<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
    <script
      src="https://kit.fontawesome.com/0442526d0c.js"
      crossorigin="anonymous"
    ></script>
    <title>Index</title>
  </head>

  <body>

    <header>
      
        <img src="/img/Logo-prueba2.png"
        width="8%"
        alt="Logo de MI NOMBRE"/>
      
        <input autocomplete="off" class="buscador"
              placeholder="Buscá productos..." 
              type="text" 
              id="buscador"
              value=""/>
            
     
      <div class="ul-header">
        <ul>
          <ol>
            <a href="/register">Registrate</a>
            <i class="fa-solid fa-id-card"></i>
          </ol>
          <ol>
            <a href="/login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </ol>
          <ol>
            <a href="/productCart"
              >Mis compras
              <i class="fa-solid fa-basket-shopping"></i>
            </a>
          </ol>
        </ul>
      </div>
      
    </header>

    <nav class="categorias">
        <ul class="nav-bar">
        <li><a href="#TV, Audio y Video">TV, Audio y Video</a></li>
        <li><a href="Electrodomesticos">Electrodomesticos</a></li>
        <li><a href="#Computacion">Computacion</a></li>
        <li><a href="Celulares">Celulares</a></li>
    </ul>
    </nav>

    <main>
    
        <form class="form-register">
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
            <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
            <input class="botons" type="submit" value="Registrar">
            <p><a href="#">¿Ya tenes Cuenta?</a></p>
        </form>
    </main>

    <footer>
      "Solo Lo Mejor S.A. - Formulario 960/D - Data Fiscal - Terminos y condiciones -ETC"
    </footer>
  </body>
</html>