<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <form action="/register" method="post">
        <div>
        <label for="nombre">nombre:</label>
        <imput type="text" name="usuario"></imput>
        </div>
        <div>
        <label for="nombre">clave:</label>
        <imput type="password" name="clave"></imput>
        </div>
        <div>
        <label for="nombre">repetir clave:</label>
        <imput type="password" name="repetir clave"></imput>
        </div>
        <div>
        <label for="nombre">email:</label>
        <imput type="email" name="email"></imput>
        </div>
        <div>
        <label for="nombre">edad:</label>
        <imput type="number" name="edad"></imput>
        <imput type="submit" value="Enviar"></imput>
        <imput type="reset" value="Borrar"></imput> 
    </form>  
    </div>
</body>
</html>

//Como cliente quiero poder registrarme para estar en su base de datos y acceder a
mi perfil e historial de compras de una manera más sencilla y, además, facilitar el
proceso de futuras compras.
