<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/login" method="post">
        <imput type="text" name="usuario"></imput>
        <imput type="password" name="clave"></imput>
        <imput type="email" name="email"></imput>
        <imput type="tel" name="telefono"></imput>
        <imput type="number" name="edad"></imput>
    </form>  
    
</body>
</html>

//Como cliente quiero poder registrarme para estar en su base de datos y acceder a
mi perfil e historial de compras de una manera más sencilla y, además, facilitar el
proceso de futuras compras.
