* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width:"100%";
}

/* ------ HEADER GENERAL ------ */

header {
    display: flex;
    color: white;
    background-color:#0c0c0c;
    padding-bottom: lightseagreen;
    font-size: 14px;
    border-bottom: solid 3px rgb(0, 0, 173);
    text-align: center;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
   
}

.logo-header {
    display: flex;
}
.busca-header {
    display: flex;
    justify-content: space-around;
}

.ul-header {
    display: flex;
    color: aliceblue;
    font-size: 20px;
    text-align: left;
}

/* ------ Carrito de Compras ------- */
.productos-carrito {
    display: flex;
}

.contenedor-carrito {
    width: 1000px;
    background: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-bottom: 60px;
    box-sizing: content-box;
}
  
  .contenedor-carrito h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .contenedor-carrito p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .contenedor-carrito a {
    color: white;
    text-decoration: none;
  }
  
  .contenedor-carrito a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .contenedor-carrito .botons {
    width: 40%;
    background: rgb(0, 0, 173);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  /* ---- Articulos -----*/

article  {
    border: solid 2px #ebebeb;
    padding: 15px;
    margin: 10px;
    background-color: #000000;
    flex-grow: 60%;
}

article img {
    width: 20%;
    height: 50%;
}

/*article div.barra {
    border-top: solid 5px #ebebeb;
    position: relative;
}
*/
.price {
    font-size: 18px;
    text-align: left;
    flex-grow: 30%;
}

.discount{
    font-size: 16px;
    color: greenyellow;
    text-align: left;
    flex-grow: 70%;
}

.description {
    font-size: 16px;
}

.price-discount {
    display: flex;
    margin-top: 5px;
}

.total-carrito {
    display: flex;
    

}


footer {color: white;
    background-color:#38BDF2;
    height: 40px;
    border-top: solid 1px lightseagreen;
    padding: 12px;
    text-align: center;
}