* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

header {
    color: white;
    background-color:lightseagreen;
    padding-bottom: lightseagreen;
    font-size: 14px;
    border-bottom: solid 3px indigo;
    padding:22px;
    margin-bottom: 15px;
    text-align: center;
    box-sizing: border-box;
}

nav {
    margin: auto;
    width: 90vw;    
}
ul {
    display: flex;
    }

ol{
    list-style: none;
    padding: 20px;
}   

main {
    margin: auto;
    width: 90vw;
}


section {
    margin: auto;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    width: 100%
}

h3 {
    font-size: 24px;
}

footer {color: white;
    background-color:rebeccapurple;
    height: 40px;
    border-top: solid 1px lightseagreen;
    padding: 12px;
    text-align: center;
    box-sizing: border-box
}


.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
}

Contenedor para Ofertas
.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-between;
}

.elemento-hijo {
    display: flex;
    }



@media (min-width: 361px) {
    .descuentos{ display: none}
}
@media (min-width: 361px) {
    .descuentos{ display: none}
}
@media (min-width: 1024px) {
    .descuentos{ display: none}
}

