* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PALETA DE COLORES */

/*
#340B8C
#210759
#5079F2
#035AA6
#38BDF2
*/

/* GENERAL */

body {
    font-family: 'Roboto', sans-serif;
    width:"100%";
}

/* ------ HEADER GENERAL ------ */

header {
    display: flex;
    color: white;
    background-color:#0c0c0c;
    padding-bottom: lightseagreen;
    font-size: 14px;
    border-bottom: solid 3px rgb(0, 0, 173);
    text-align: center;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
   
}

header img {
        display: inline-block;
        padding: 5px;
        width: 130px;
}

.logo-header {
    display: flex;
}
.busca-header {
    display: flex;
    justify-content: space-around;
}

.ul-header {
    display: flex;
    color: aliceblue;
    font-size: 20px;
    text-align: left;
}



/* ---------------- INDEX ---------------- */

.div-nav-bar {
    background-color: #5079F2;
    box-sizing: border-box;
    border: 15px;
    width: 100vw;
    height: 4%;
    position: relative;
    bottom: 5px;
    text-align:center;
    display:flex;
}

nav {
    margin: auto;
    width: 100vw;    
}

ul {
    display: flex;
    }

ol{
    list-style: none;
    padding: 20px;
}   

main {
    margin: auto;
    width: 100%;
}


section {
    margin: auto;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    
}

.prod-contenedor {
    width: 200px;
    height: 300px;
}


h3 {
    font-size: 24px;
    text-align: center;
}

/* ------- FOOTER -------- */

footer {color: white;
    background-color:#38BDF2;
    height: 40px;
    border-top: solid 1px lightseagreen;
    padding: 12px;
    text-align: center;
    box-sizing: border-box
}

/*--------???SE USA???---------*/

.precios {
    font-size: 18px;
    text-align: center;
}

.descuentos {
    font-size: 16px;
    display: block
}

.descripciones {
    font-size: 16px;
    font-weight: 20%;
}

main section article i {
    display: flex;
}


/* ------ Carrito de Compras ------- */




/* ------- ERROR 404 -------- */



body-404 {
    margin: auto;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;

}

/*--------???SE USA???---------*/


Contenedor para Ofertas
.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-between;
}

.elemento-hijo 
.precio-descuento{
    display: flex;
}


/* ------ MEDIA QUERIES ------- */


@media (min-width: 426px) {
    
    
    main section article {
        display: block;
    }
    
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }
    

    .descuentos{ display: block}
}





@media (min-width: 769px) {
    .descuentos{ display: block}
}
@media (min-width: 1024px) {
    .descuentos{ 
        display: block
    }
}

.buscador{
    height: 42px;
    width: 300px;

}
.categorias{
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
}
Contenedor para Novedades
.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-between;
}

.elemento-hijo 
.precio-descuento{
    display: flex;
}

@media (min-width: 426px) {
    
    
    main section article {
        display: block;
    }
    
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }
    

    .descuentos{ display: block}
}  
  
  body {
    background-image: url('fondo.jpg')
  }
  /* ------ Login y Register Comparten clases ------- */
  .form-register {
    width: 400px;
    background: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-bottom: 60px;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: rgb(0, 0, 173);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    
    
  }

  .main-login {
    height: 60vh;

  }
 
  
 