* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PALETA DE COLORES */

/*
#340B8C
#210759
#5079F2
#035AA6
#38BDF2
*/

/* GENERAL */

body {
    font-family: 'Roboto', sans-serif;
    
}

/* ------ HEADER GENERAL ------ */

header {
    color: white;
    background-color: #340b8c;
    padding-bottom: #340b8c;
    font-size: 14px;
    border-bottom: solid 3px indigo;
    padding:22px;
    margin-bottom: 1px;
    text-align: center;
    box-sizing: content-box;
}

logo-header {
    display: flex;
}
ul-header {
    display: flex;
    }

.nav-bar {
    background-color: #5079F2;
    box-sizing: border-box;
    border: 15px;
    width: 100%;
    height: 8%;
    position: relative;
    bottom: 5px;
    text-align:center;
}

/* ---------------- INDEX ---------------- */

nav {
    margin: auto;
    width: 100%;    
}

ul {
    display: flex;
}

ol{
    list-style: none;
    padding: 20px;
}   

main {
    margin: auto;
    width: 90vw;
}


section {
    margin: auto;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

article .prod-contenedor {
    display: flex;
}


div {
    display: flex;
    width: 100%
}

h3 {
    font-size: 24px;
}

/* ---------------- FOOTER ---------------- */

footer {color: white;
    background-color:#38BDF2;
    height: 40px;
    border-top: solid 1px lightseagreen;
    padding: 12px;
    text-align: center;
    box-sizing: border-box
}

/* ---------------- ERROR 404 ---------------- */

body-404 {
    margin: auto;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;

}

/* ---------------- MEDIA QUERIES ---------------- */


@media (min-width: 426px) {
    main section article {
        display: block;
    }
    
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }
    
    .descuentos{ display: none}
}

@media (min-width: 769px) {
    .descuentos{ display: none}
}
@media (min-width: 1024px) {
    .descuentos{ display: none}
}

