* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width:"100%";
}

header {
    display: flex;
    color: white;
    background-color:#0c0c0c;
    padding-bottom: lightseagreen;
    font-size: 14px;
    border-bottom: solid 3px rgb(0, 0, 173);
    text-align: center;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
   
}

.logo-header {
    display: flex;
}
.busca-header {
    display: flex;
    justify-content: space-around;
}

.ul-header {
    display: flex;
    color: aliceblue;
    font-size: 20px;
    text-align: left;
}



/* ---------------- INDEX ---------------- */

.div-nav-bar {
    background-color: #5079F2;
    box-sizing: border-box;
    border: 15px;
    width: 100vw;
    height: 4%;
    position: relative;
    bottom: 5px;
    text-align:center;
    display:flex;
}

nav {
    margin: auto;
    width: 100vw;    
}

ul {
    display: flex;
    }

ol{
    list-style: none;
    padding: 20px;
}   

main {
    margin: auto;
    width: 100%;
}


section {
    margin: auto;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    
}

.prod-contenedor {
    width: 200px;
    height: 300px;


}


h3 {
    font-size: 24px;
    text-align: center;
}

footer {color: white;
    background-color:#38BDF2;
    height: 40px;
    border-top: solid 1px lightseagreen;
    padding: 12px;
    text-align: center;
    box-sizing: border-box
}


.precios {
    font-size: 18px;
    text-align: center;
}

.descuentos {
    font-size: 16px;
    display: block
}

.descripciones {
    font-size: 16px;
    font-weight: 20%;
}

main section article i {
    display: flex;
}

body-404 {
    margin: auto;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;

}



Contenedor para Ofertas
.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-between;
}

.elemento-hijo 
.precio-descuento{
    display: flex;
}

@media (min-width: 426px) {
    
    
    main section article {
        display: block;
    }
    
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }
    

    .descuentos{ display: block}
}





@media (min-width: 769px) {
    .descuentos{ display: block}
}
@media (min-width: 1024px) {
    .descuentos{ 
        display: block
    }
}

.buscador{
    height: 42px;
    width: 300px;

}
.categorias{
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
}
Contenedor para Novedades
.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-between;
}

.elemento-hijo 
.precio-descuento{
    display: flex;
}

@media (min-width: 426px) {
    
    
    main section article {
        display: block;
    }
    
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }
    

    .descuentos{ display: block}
}