<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>

    <title>Vender Producto</title>


  <body>


      <%- include("../partials/header") %>

    <main>
    
        <form class="form-register">
            <input class="controls" type="text" name="Nombre de Producto" id="Nombre de Producto" placeholder="Ingrese Producto">
            <input class="controls" type="text" name="Categoria" id="Categoria" placeholder="Ingrese Categoria">
            <input class="controls" type="text" name="Color" id="Color" placeholder="Ingrese Color">
            <input class="controls" type="file" name="Imagen" id="Imagen" placeholder="Adjunte Imagen"> 
            <input class="controls" type="text" name="Descripcion" id="Descripcion" placeholder="Ingrese Descripcion">
            <input class="botons" type="submit" value="Subir">
        </form>
    </main>

      <%- include("../partials/footer") %>

  </body>
</html>