<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>
    
    <title>Login</title>


  <body>


      <%- include("../partials/header") %>


    <main class="main-login">
    
        <div class="form-register">
            <form>
              <!-- USERNAME INPUT -->
              <input class="controls"  type="text" placeholder="Ingresa usuario"><br>
              <!-- PASSWORD INPUT -->
              <input class="controls" type="constraseña" placeholder="Ingresar constraseña"><br>
              <input class="botons" type="submit" value="Ingresar"><br>
              <p><a href="#">Olvido su contraseña?</a></p> 
              <p><a href="/users/register">Registrate</a></p>
            </div>
        </form>    
        
    </main>


      <%- include("../partials/footer") %>

  </body>
</html>