<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<title>Vender Producto</title>

<body>
    <%- include("../partials/header") %> 
    <main>
        <h1> Cuenta creada</h1>
        <div>
            <p>
                Se creo tu cuenta! Creo...
            </p>
        </div>
        <div>


            <a href="/"> <img src="/img/Logo-prueba2.png" alt="Logo de MI NOMBRE" width="50%" /> </a>
        </div>







    </main>
    <%- include("../partials/footer") %>
</body>
</html>
