<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
    <script
      src="https://kit.fontawesome.com/0442526d0c.js"
      crossorigin="anonymous"
    ></script>
    <title>Index</title>
  </head>

  <body>

    <header>
      <%- include("../partials/header") %>
    </header>

    <main class="main-login">
    
        <div class="form-register">
            <form>
              <!-- USERNAME INPUT -->
              <input class="controls"  type="text" placeholder="Ingresa usuario"><br>
              <!-- PASSWORD INPUT -->
              <input class="controls" type="constraseña" placeholder="Ingresar constraseña"><br>
              <input class="botons" type="submit" value="Ingresar"><br>
              <p><a href="#">Olvido su contraseña?</a></p> 
              <p><a href="/register">Registrate</a></p>
            </div>
        </form>    
        
    </main>

    <footer>
      <%- include("../partials/footer") %>
    </footer>
  </body>
</html>