<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>

    <title>Register</title>

  <body>

      <%- include("../partials/header") %>

    <main>
    
        <form class="form-register">
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
            <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
            <input class="botons" type="submit" value="Registrar">
            <p><a href="/users/login">¿Ya tenes Cuenta?</a></p>
        </form>
    </main>

      <%- include("../partials/footer") %>
      
  </body>
</html>