<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
    <title>Detalle de Producto</title>
</head>
<body>
    <header>
      <%- include("../partials/header") %>
    </header>

    <main class="main-carrito">
        
  
        <div class="contenedor-carrito">
            <h3>Detalle de Producto</h3>
        
          
        <div class="productos-carrito">
          <article>
            <img src= "/img/pava-atma.jpg" alt="Pava" class="barra" href="/Views/productDetail.html"
            <div class="logo-envio barra" >
              <i class="fa-solid fa-truck"></i>
            </div>
              <div class="price-discount">
                <p class="price">$20.770</p>
                <p class="discount">40% off</p>
              </div>
              <h4 class="description">Pava Electrica</h4>
          </article>
         
        <section class="total-carrito">
        <div class="totales">
            <div>
                <h4>Detalle: La pava eléctrica Atma PE0821NAP tiene un diseño clásico en color metalico y una capacidad de 1,7 litros. Posee indicador de nivel de agua. Corta automáticamente al hervir el agua y es ideal para tomar mate, té, café u otras infusiones. También viene con enrollacable y giro 360º, para tener mayor comodidad en la conexión. Por otro lado, su filtro de doble acción alarga la vida útil de la jarra, brindando mejor calidad de agua caliente y evitando que se incrusten sólidos en sus paredes interiores.</h4>
              <h3>Precio :  </h3>
            </div>
          </div>
  
          <form action="#" method="GET">
            <button class="botons" type="submit">Pagar</button>
          
      
          <button class="botons" type="submit" onclick="">Vaciar Carrito</button>
        
          <a href="/index">
            <button class="botons" type="submit">Comprar más</button>
          </a>

        </form>
        </section>
    </div>
  </div>
      </main>
  
      <footer>
        <%- include("../partials/footer") %>
      </footer>



    
</body>
</html>

